body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f0f0f0;
}

header {
    background-color: #5D3FD3;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.about-container {
    background-color: #CCCCFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 960px; 
    text-align: justified;
    margin: 20px auto; 
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

footer {
    background-color: #5D3FD3;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
}
